.button {
  padding: 8px 24px;
  color: #fff;
  background-color: #ab81f1;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  &:active,
  :focus {
    background-color: #8852e1;
    outline: none;
    border: none;
  }
}

.inactive {
  background-color: rgba(255, 255, 255, 0.2);
  color: #676c7a;
}
