.wrapper {
    margin-bottom: 16px;
  }
  
  .section {
    font-family: PT-Root;
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
    margin: 0 0;
    margin-bottom: 2px;
  }
  
  .info {
    font-family: PT-Root;
    font-size: 14px;
    color: #fff;
    margin: 0 0;
  }
  