$font-stack: Halvar, Arial, Helvetica, sans-serif;
$font-big: 28px;
$primary-color: #fff;
$max-width: 680px;

.main {
  max-width: $max-width;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  > :first-child {
    border-left: none;
    padding-left: 0px;
  }
  > :last-child {
    padding-right: 0px;
  }
}

.subtitle {
  font-family: $font-stack;
  font-size: $font-big;
  font-weight: 200;
  color: $primary-color;
  text-align: center;
  margin: 0 0;
  margin-bottom: 28px;
  flex-wrap: wrap;
}

.line {
  border-left: 1px solid red;
  height: 100%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error {
  color: #f6483d;
}

@media screen and (max-width: 840px) {
  .container {
    margin-top: 38px;
    flex-direction: column;
    > :first-child {
      padding-top: 0px;
    }
    > :last-child {
      padding-bottom: 0px;
      border-bottom: none;
    }
  }
  .main {
    margin-top: 70px;
  }
}
